.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4rem;
  border-bottom: 3px solid var(--oc-gray-2);
  padding-bottom: 1rem;
}

.title {
  font-weight: 600;
}

.date {
  font-size: 1.6rem;
}

.markdown {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}

.markdown details {
  display: block;
}

.markdown summary {
  display: list-item;
}

.markdown a {
  background-color: initial;
}

.markdown a:active,
.markdown a:hover {
  outline-width: 0;
}

.markdown strong {
  font-weight: inherit;
  font-weight: bolder;
}

.markdown h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

.markdown img {
  border-style: none;
}

.markdown code,
.markdown kbd,
.markdown pre {
  font-size: 1em;
  font-family: monospace;
}

.markdown hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

.markdown input {
  margin: 0;
  font: inherit;
}

.markdown input {
  overflow: visible;
}

.markdown [type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

.markdown * {
  box-sizing: border-box;
}

.markdown input {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}

.markdown a {
  color: #0366d6;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown strong {
  font-weight: 600;
}

.markdown hr {
  margin: 15px 0;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  background: transparent;
  height: 0;
  overflow: hidden;
}

.markdown hr:after,
.markdown hr:before {
  display: table;
  content: '';
}

.markdown hr:after {
  clear: both;
}

.markdown table {
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown td,
.markdown th {
  padding: 0;
}

.markdown details summary {
  cursor: pointer;
}

.markdown kbd {
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 -1px 0 #d1d5da;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  background-color: #fafbfc;
  padding: 3px 5px;
  color: #444d56;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown h1 {
  font-size: 32px;
}

.markdown h1,
.markdown h2 {
  font-weight: 600;
}

.markdown h2 {
  font-size: 24px;
}

.markdown h3 {
  font-size: 20px;
}

.markdown h3,
.markdown h4 {
  font-weight: 600;
}

.markdown h4 {
  font-size: 16px;
}

.markdown h5 {
  font-size: 14px;
}

.markdown h5,
.markdown h6 {
  font-weight: 600;
}

.markdown h6 {
  font-size: 12px;
}

.markdown p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown blockquote {
  margin: 0;
}

.markdown ol,
.markdown ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.markdown ol ol,
.markdown ul ol {
  list-style-type: lower-roman;
}

.markdown ol ol ol,
.markdown ol ul ol,
.markdown ul ol ol,
.markdown ul ul ol {
  list-style-type: lower-alpha;
}

.markdown dd {
  margin-left: 0;
}

.markdown code,
.markdown pre {
  font-size: 12px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

.markdown pre {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown input::-webkit-inner-spin-button,
.markdown input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.markdown :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.markdown .border {
  border: 1px solid #e1e4e8 !important;
}

.markdown .border-0 {
  border: 0 !important;
}

.markdown .border-bottom {
  border-bottom: 1px solid #e1e4e8 !important;
}

.markdown .rounded-1 {
  border-radius: 3px !important;
}

.markdown .bg-white {
  background-color: #fff !important;
}

.markdown .bg-gray-light {
  background-color: #fafbfc !important;
}

.markdown .text-gray-light {
  color: #6a737d !important;
}

.markdown .mb-0 {
  margin-bottom: 0 !important;
}

.markdown .my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.markdown .pl-0 {
  padding-left: 0 !important;
}

.markdown .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.markdown .pl-1 {
  padding-left: 4px !important;
}

.markdown .pl-2 {
  padding-left: 8px !important;
}

.markdown .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.markdown .pl-3,
.markdown .px-3 {
  padding-left: 16px !important;
}

.markdown .px-3 {
  padding-right: 16px !important;
}

.markdown .pl-4 {
  padding-left: 24px !important;
}

.markdown .pl-5 {
  padding-left: 32px !important;
}

.markdown .pl-6 {
  padding-left: 40px !important;
}

.markdown .f6 {
  font-size: 12px !important;
}

.markdown .lh-condensed {
  line-height: 1.25 !important;
}

.markdown .text-bold {
  font-weight: 600 !important;
}

.markdown .pl-c {
  color: #6a737d;
}

.markdown .pl-c1,
.markdown .pl-s .pl-v {
  color: #005cc5;
}

.markdown .pl-e,
.markdown .pl-en {
  color: #6f42c1;
}

.markdown .pl-s .pl-s1,
.markdown .pl-smi {
  color: #24292e;
}

.markdown .pl-ent {
  color: #22863a;
}

.markdown .pl-k {
  color: #d73a49;
}

.markdown .pl-pds,
.markdown .pl-s,
.markdown .pl-s .pl-pse .pl-s1,
.markdown .pl-sr,
.markdown .pl-sr .pl-cce,
.markdown .pl-sr .pl-sra,
.markdown .pl-sr .pl-sre {
  color: #032f62;
}

.markdown .pl-smw,
.markdown .pl-v {
  color: #e36209;
}

.markdown .pl-bu {
  color: #b31d28;
}

.markdown .pl-ii {
  background-color: #b31d28;
  color: #fafbfc;
}

.markdown .pl-c2 {
  background-color: #d73a49;
  color: #fafbfc;
}

.markdown .pl-c2:before {
  content: '^M';
}

.markdown .pl-sr .pl-cce {
  color: #22863a;
  font-weight: 700;
}

.markdown .pl-ml {
  color: #735c0f;
}

.markdown .pl-mh,
.markdown .pl-mh .pl-en,
.markdown .pl-ms {
  color: #005cc5;
  font-weight: 700;
}

.markdown .pl-mi {
  color: #24292e;
  font-style: italic;
}

.markdown .pl-mb {
  color: #24292e;
  font-weight: 700;
}

.markdown .pl-md {
  background-color: #ffeef0;
  color: #b31d28;
}

.markdown .pl-mi1 {
  background-color: #f0fff4;
  color: #22863a;
}

.markdown .pl-mc {
  background-color: #ffebda;
  color: #e36209;
}

.markdown .pl-mi2 {
  background-color: #005cc5;
  color: #f6f8fa;
}

.markdown .pl-mdr {
  color: #6f42c1;
  font-weight: 700;
}

.markdown .pl-ba {
  color: #586069;
}

.markdown .pl-sg {
  color: #959da5;
}

.markdown .pl-corl {
  color: #032f62;
  text-decoration: underline;
}

.markdown .mb-0 {
  margin-bottom: 0 !important;
}

.markdown .my-2 {
  margin-bottom: 8px !important;
}

.markdown .my-2 {
  margin-top: 8px !important;
}

.markdown .pl-0 {
  padding-left: 0 !important;
}

.markdown .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.markdown .pl-1 {
  padding-left: 4px !important;
}

.markdown .pl-2 {
  padding-left: 8px !important;
}

.markdown .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.markdown .pl-3 {
  padding-left: 16px !important;
}

.markdown .pl-4 {
  padding-left: 24px !important;
}

.markdown .pl-5 {
  padding-left: 32px !important;
}

.markdown .pl-6 {
  padding-left: 40px !important;
}

.markdown .pl-7 {
  padding-left: 48px !important;
}

.markdown .pl-8 {
  padding-left: 64px !important;
}

.markdown .pl-9 {
  padding-left: 80px !important;
}

.markdown .pl-10 {
  padding-left: 96px !important;
}

.markdown .pl-11 {
  padding-left: 112px !important;
}

.markdown .pl-12 {
  padding-left: 128px !important;
}

.markdown hr {
  border-bottom-color: #eee;
}

.markdown kbd {
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 -1px 0 #d1d5da;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  background-color: #fafbfc;
  padding: 3px 5px;
  color: #444d56;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
}

.markdown:after,
.markdown:before {
  display: table;
  content: '';
}

.markdown:after {
  clear: both;
}

.markdown > :first-child {
  margin-top: 0 !important;
}

.markdown > :last-child {
  margin-bottom: 0 !important;
}

.markdown a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown blockquote,
.markdown details,
.markdown dl,
.markdown ol,
.markdown p,
.markdown pre,
.markdown table,
.markdown ul {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown hr {
  margin: 24px 0;
  border: 0;
  background-color: #e1e4e8;
  padding: 0;
  height: 0.25em;
}

.markdown blockquote {
  border-left: 0.25em solid #dfe2e5;
  padding: 0 1em;
  color: #6a737d;
}

.markdown blockquote > :first-child {
  margin-top: 0;
}

.markdown blockquote > :last-child {
  margin-bottom: 0;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown h1 {
  font-size: 2em;
}

.markdown h1,
.markdown h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}

.markdown h2 {
  font-size: 1.5em;
}

.markdown h3 {
  font-size: 1.25em;
}

.markdown h4 {
  font-size: 1em;
}

.markdown h5 {
  font-size: 0.875em;
}

.markdown h6 {
  color: #6a737d;
  font-size: 0.85em;
}

.markdown ol,
.markdown ul {
  padding-left: 2em;
}

.markdown ol ol,
.markdown ol ul,
.markdown ul ol,
.markdown ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown li {
  word-wrap: break-all;
}

.markdown li > p {
  margin-top: 16px;
}

.markdown li + li {
  margin-top: 0.25em;
}

.markdown dl {
  padding: 0;
}

.markdown dl dt {
  margin-top: 16px;
  padding: 0;
  font-style: italic;
  font-weight: 600;
  font-size: 1em;
}

.markdown dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

.markdown table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown table th {
  font-weight: 600;
}

.markdown table td,
.markdown table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.markdown table tr {
  border-top: 1px solid #c6cbd1;
  background-color: #fff;
}

.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown img {
  box-sizing: initial;
  background-color: #fff;
  max-width: 100%;
}

.markdown img[align='right'] {
  padding-left: 20px;
}

.markdown img[align='left'] {
  padding-right: 20px;
}

.markdown code {
  margin: 0;
  border-radius: 3px;
  background-color: rgba(27, 31, 35, 0.05);
  padding: 0.2em 0.4em;
  font-size: 85%;
}

.markdown pre {
  word-wrap: normal;
}

.markdown pre > code {
  margin: 0;
  border: 0;
  background: transparent;
  padding: 0;
  font-size: 100%;
  white-space: pre;
  word-break: normal;
}

.markdown pre code {
  word-wrap: normal;
  display: inline;
  margin: 0;
  border: 0;
  background-color: initial;
  padding: 0;
  max-width: auto;
  overflow: visible;
  line-height: inherit;
}
