.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4rem;
  border-bottom: 3px solid var(--oc-gray-2);
  padding-bottom: 1rem;
}

.title {
  font-weight: 600;
}

.date {
  font-size: 1.6rem;
}
