.button {
  transition: all 0.1s;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--oc-gray-9);
  padding: 0.5rem;
  width: 20rem;
  color: var(--oc-white);
  font-size: 2rem;
}

.button:active {
  transform: translateY(-5%);
}
