.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-right: solid 2px var(--oc-gray-2);
  background-color: var(--oc-gray-1);
  padding: 1rem;
  width: 35rem;
  overflow-y: auto;
}

.logo {
  align-self: center;
  padding: 2rem;
}

.add {
  text-align: center;
}
