.item {
  border-radius: 5px;
  text-align: center;
  overflow-wrap: break-word;
}

.item:hover {
  background-color: var(--oc-gray-3);
}

.item a:link,
.item a:visited {
  display: block;
  padding-block: 1rem;
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}
