.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-right: solid 1px #e3e3e3;
  background-color: #f1f3f5;
  padding: 1rem;
  width: 35rem;
  overflow-y: auto;
}

.logo {
  align-self: center;
  padding: 2rem;
}

.add {
  text-align: center;
}
